/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.json.local
package-lock.json
composer.lock
.phpunit.cache/test-results
bootstrap/cache/*
build/phpstan/*
build/phpstan/**/*
phpstan.txt
public/build/**
config/clockwork.php
composer.lock
package-lock.json
public/build/*
public/vendor/*
resources/lang/livewire-tables/*
stubs/*
resources/views/vendor/*
composer.lock
